.header {
  width: 100%;
  height: 5rem;
  // background-color: black;
  background-color: #2a2051;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 5rem;
  .logo {
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
    img {
      width: 4rem;
      height: 4rem;
      cursor: pointer;
    }
  }
  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    font-size: 1.1rem;
    font-weight: 700;
    p {
      cursor: pointer;
    }
    p:hover {
      color: rgb(0, 255, 0);
    }
  }
}

.body {
  .content {
    width: 100%;
    height: 30rem;
    background: linear-gradient(transparent, #020202);
    background-color: #2a2051;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0 0 3rem;
    p {
      font-size: 4rem;
      font-weight: 700;
    }
    span {
      font-size: 1.1rem;
      font-weight: 500;
    }
    button {
      background-color: rgb(48, 233, 106);
      width: 10rem;
      // text-align: center;
      color: black;
      height: 3rem;
      font-weight: 700;
      border-radius: 30px;
      transition: all 0.5s;
      margin-top: 2rem;
    }
    button:hover {
      transform: scale(1.05);
      transition: all 0.5s;
      color: white;
    }
    img {
      width: 40rem;
      margin-left: 49.2rem;
      margin-top: -4rem;
      position: absolute;
    }
  }

  .profile {
    display: flex;
    flex-direction: row;
    height: 45rem;
    .profileTitle {
      width: 30%;
      background-color: rgb(33, 33, 33);
      display: flex;
      justify-content: center;
      padding-top: 2rem;
      // gap: 0.5rem;
      img {
        border-radius: 50%;
      }
      button {
        color: rgb(166, 166, 166);
        font-size: 1.5rem;
        margin-top: 4.5rem;
      }
      button:hover {
        color: white;
      }
    }
    .profileContent {
      width: 70%;
      display: flex;
      flex-direction: column;
      padding: 2rem 3rem 0 3rem;
      gap: 1.5rem;
      h2 {
        font-size: 2.5rem;
        font-weight: 600;
      }
      h4 {
        font-size: 1.5rem;
        font-weight: 700;
      }
      table {
        tr {
          border-bottom: 1px solid rgb(171, 171, 171);
          td {
            font-weight: 500;
            width: 10rem;
            height: 3rem;
            p {
              color: red;
            }
          }
        }
      }
      button {
        width: 10rem;
        color: black;
        height: 3.5rem;
        font-weight: 700;
        border: 1.5px solid #6c6767;
        border-radius: 30px;
        transition: all 0.5s;
        margin-top: 2rem;
      }
      button:hover {
        transform: scale(1.05);
        transition: all 0.5s;
        background-color: black;
        color: white;
        border: none;
      }
    }
  }
}

.footers {
  height: 35rem;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .footer1 {
    // margin-top: 3rem;
    color: white;
    display: flex;
    justify-content: space-around;
    .logoName {
      display: flex;
      img {
        width: 5rem;
        height: 5rem;
      }
      .name {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          font-size: 1.5rem;
          font-weight: 700;
        }
        span {
          margin-top: -0.5rem;
          font-size: 500;
        }
      }
    }
    .contents {
      margin-left: -10rem;
      p {
        font-size: 1rem;
        color: rgb(0, 245, 118);
        font-weight: 700;
      }
      .content {
        display: flex;
        flex-direction: column;
        span {
          font-weight: 500;
          margin: 0.5rem 0;
        }
        span:hover {
          color: rgb(0, 198, 96);
          cursor: pointer;
        }
      }
    }
    .icons {
      display: flex;
      flex-direction: row;
      .icon {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        margin-left: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: rgb(109, 109, 109);
        color: white;
        // &:hover {
        //   color: rgb(0, 198, 96);
        // }
      }
      .icon:hover {
        color: rgb(0, 198, 96);
      }
    }
  }
  .footer2 {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 27rem;
    margin-top: 10rem;
    .service {
      display: flex;
      justify-content: start;
      gap: 1rem;
      color: rgb(198, 198, 198);
      font-size: 0.8rem;
    }
    p:hover {
      color: rgb(0, 191, 92);
      cursor: pointer;
    }
    .email {
      margin-right: -0.5rem;
      font-size: 0.8rem;
      color: rgb(198, 198, 198);
    }
  }
}
